.tile {
  background-color: #42B842;
  display: inline-block;
  /* width: 40px;
  height: 40px; */
}

.grass {
  background-color: #42B842;
}

.dirt-road {
  background-image: url('/tiles/dirt-road.png');
}

.rock {
  background-image: url('/tiles/rock.png');
}

.tree {
  background-image: url('/tiles/tree.png');
}

.chest {
  background-image: url('/tiles/chest.png');
}