.tile {
  background-color: green;
  display: inline-flex;
}

.grass {
  background-color: green;
}

.rock {
  background-image: url('/tiles/rock.png');
}

.tree {
  background-image: url('/tiles/tree.png');
}

.chest {
  background-image: url('/tiles/chest.png');
}