.tile {
  display: inline-block;
  background-color: #42B842;
}

.shadow {
  background-color: rgba(0,0,0,0.9) !important;
}

.grass {
  background-color: #42B842;
}

.dirt-road {
  background-image: url('/tiles/dirt-road.png');
}

.rock {
  background-image: url('/tiles/rock.png');
}

.tree {
  background-image: url('/tiles/tree.png');
}

.chest {
  background-image: url('/tiles/chest.png');
}